<h1>City detail</h1>

    <p>
    City name: <%= @cities.name %><br/>
    Zip code City: <%= @cities.zip_code %><br/>
    </p>

<h2>All the gossips of this city:</h2>

<div class="container-fluid d-flex flex-wrap justify-content-center row xy-3">
    <% @gossips_cities.each do |gossip| %>

        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><%= gossip.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= gossip.user.first_name %></h6>
            <p class="card-text"><%= gossip.content %></p>
            <a href="/gossips/<%= gossip.id %>" class="btn btn-primary btn-sm">Details</a>
            <a href="/users/<%= gossip.user.id %>" class="btn btn-secondary btn-sm">Author</a>
            <a href="/cities/<%= gossip.user.city_id %>" class="btn btn-success btn-sm">City</a>
            <p></p>
            <p class="card-text"><a href="/likes/<%= gossip.id %>" class="btn btn-danger btn-sm"> Like! </a><FONT color="#fcba03"><B><I><%= " " + @likes.where(gossip: gossip).count.to_s + " likes !" %></B></I></FONT></p>
        </div>
        </div>
    <%end%>
</div>